<%# jumbotronはBootstrapにおいて特別な意味を持つ %>
<div class="center jumbotron">
  <h1>Welcome to the re_learn App</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%# image_tagヘルパーによってapp/assets/images/ディレクトリの中から探してくれる %>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<%= link_to image_tag("kitten.jpg", alt: "にゃんこ"),
            '#' %>
<%= link_to image_tag("20191022-00010003-hintpot-000-1-view.jpg", alt: "にゃんこ2"),
            '#' %>
